@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --body_background: #fff;
  --body_paper: #fffcfc;
  --text_primary: rgba(0, 0, 0, 0.87);
  --text_secondary: rgba(0, 0, 0, 0.6);
  --button_active: rgba(0, 0, 0, 0.54);
  --button_selected: rgba(0, 0, 0, 0.08);
  --button_hover: rgba(0, 0, 0, 0.04);
}
[data-theme="dark"] {
  --body_background: #121212;
  --body_paper: #181818;
  --text_primary: #fff;
  --text_secondary: rgba(255, 255, 255, 0.7);
  --button_active: #fff;
  --button_selected: rgba(255, 255, 255, 0.16);
  --button_hover: rgba(255, 255, 255, 0.08);
}
body {
  background-color: var(--body_background);
  color: var(--text_primary);
  margin: 0;
  padding: 0;
  overflow: hidden;
}
*::-webkit-scrollbar {
  width: 0.5em;
  
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--body_background);
}
 
*::-webkit-scrollbar-thumb {
  background-color:var(--text_secondary);
  outline: 1px solid var(--body_background);
}
